<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

            <table class="responsive-table">
				<thead>
					<tr>
						<th>Cod.Item</th>
						<th>Descrição</th>
						<th>Qt.Item</th>
						<th>Val.Item</th>
						<th>Valor</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="pedido : ${vendaspedido}">

						<td th:text="${pedido.codigoitem}"></td>
						<td th:text="${pedido.descricao}"></td>
						<td th:text="${pedido.quantidade}"></td>
						<td class="monetaria-masc" th:text="${pedido.valoritem}"></td>
						<td class="monetaria-masc" th:text="${pedido.precoitem}"></td>						
                         
					</tr> 		
				</tbody>
	
				  <tfoot>	
					<tr>
					   <td> <b>Total R$:</b> </td>
					   <td class="monetaria-masc" th:text="${#aggregates.sum(vendaspedido.![precoitem])}"></td>
				    </tr>
				  </tfoot> 
			 </table> 
			 
              
    <script type="text/javascript" src="js/inputmascara.js"></script>
  
  
</html>